.navbar-col{
    background-color: #3D9970;
}

.primary{
    background-color: #a2f2cf;
}

.secondary{
    background-color: #e3fff2;
}

.tertiary{
    background-color: #c7fce5;
}


.extra_thoughts{
 background-color: #fcf9c5;   
}

.solano{
    background-color: #344b78;
}

.sacramento{
    background-color: #144a18;
}

.img-reduce{
    width: 100px;
    height: auto;
}

.old{background-color: #fec59c;}

.udemy-dark{
    background-color: #733183;
}

.udemy-light{
    background-color: #ae7eb9;
}

.matica-red{
    background-color: #af0000
}

.matica-black{
    background-color: #000000
}