.navbar-col{
    background-color: #3D9970;
}

.primary{
    background-color: #a2f2cf;
}

.secondary{
    background-color: #e3fff2;
}


.extra_thoughts{
 background-color: #f8fcc5;   
}

.solano{
    background-color: #344b78;
}

.sacramento{
    background-color: #144a18;
}

.img-reduce{
    width: 100px;
    height: auto;
}

.old{background-color: #fec59c;}